.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "a a a a"
                        "b c c c"
                        "d e f g";
    gap: 0.8rem;

    width: 800px;
    height: 600px;
    margin: 1rem;

    font-family: Helvetica;
}

.grid-cell {
    display: flex;
    flex-direction: column;

    background-size: cover;
    color: white;
    padding: 1rem;
}

.grid-cell h2 {
    margin: 0;
}

.grid-cell p {
    margin: 0;
    font-weight: lighter;
}

.title {
    grid-area: a;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.population {
    grid-area: b;
    background-image: url('images/finland-8.jpg');

    justify-content: flex-end;
}

.welcome {
    grid-area: c;
    background-image: url('images/finland-2.jpg');

    justify-content: flex-end;
    align-items: flex-end;
}

.gdp {
    grid-area: d;
    background-image: url('images/finland-3.jpg');

    justify-content: flex-end;
    align-items: flex-end;
}

.code {
    grid-area: e;
    background-image: url('images/finland-4.jpg');
}

.govt {
    grid-area: f;
    background-image: url('images/finland-1.jpg');

    justify-content: flex-end;
}

.news {
    grid-area: g;
    background-image: url('images/finland-5.jpg');
}

.news label, input, button {
    margin: 0.1rem 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9rem;
    height: 1.1rem;
}

.news input, button {
    font-size: 0.6rem;
}

.news input {
    color: grey;
    border: none;
    margin-bottom: 0.4rem;
}

.news h2 {
    margin-bottom: 0.6rem;
}

.news button {
    width: fit-content;
    align-self: flex-end;
}
